
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
	font-family: 'Roboto', sans-serif;
	color: var(--color-text);
	    --primary: #4c6fff;
        --gray: #f1f4f8;
        --text: #99a8b5;
}

